<nav class="ui menu header_item">
  {{!-- <header class="ui header item"> <a href="/"> </a></header> --}}
  <div class="wrapper">
    <div class="right menu">
      <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
      <a id="playlists" class="item" href="/playlists"> Playlists  </a>
      <a id="search" class="item" href="/search"> Search </a>
      <a id="logout" class="item" href="/logout"> Logout </a>
    </div>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>