<nav class="ui menu header_item">
  <div class="wrapper">
    <div class="right menu">
      <a id="signup" class="item" href="/signup"> Signup  </a>
      <a id="login" class="item" href="/login">  Login   </a>
    </div>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>