{{> menu id="about"}}
<div class="ui breadcrumb">
  <a class="section" href="/">Dashboard</a>
  <i class="right angle icon divider"></i>
  <a class="active section">About</a>
</div>

<section class="ui center aligned middle aligned segment">
  <h3>
    Playlist 1
  </h3>
  <p>
    A Little Playlist Maker - Version 1
  </p>
  <p>
    {{contactName}} <br>
    {{contactAddress}}
  </p>
</section>