{{> menu}}

<div class="wrapper">
  <div class="card_body">
      <div class="card_top">
        <h2 class="ui header">
          {{playlist.title}}
        </h2>
      </div>
      <div class="pd20px">
        {{> listsongs}}
        {{> addsong}}
      </div>
  </div>

  {{#if error}}
    <div class="ui negative message">
      <i class="close icon"></i>
      <p>This song already exist in this playlist!!</p>
    </div>
  {{/if}}
  {{#if success}}
    <div class="ui positive message">
      <i class="close icon"></i>
      <p>Song successfully added to this playlist!</p>
    </div>
  {{/if}}
</div>


<script>
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  });
</script>