{{> menu id="spotify"}}

<div class="wrapper">
    <button class="ui primary button" id="login" style="margin-bottom: 30px">Don't see anything? Log in!</button>

    <div class="ui grid">
        <div class="three column row">
            <div class="column">
                <div id="data-container1">
                    <div class="card_body">
                        <div class="card_top">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="column">
                <div id="data-container2">
                    <div class="card_body">
                        <div class="card_top">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="column">
                <div id="data-container3">
                    <div class="card_body">
                        <div class="card_top">
                            
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="../../client.js"></script>