body{
    background-color: #e9ebee !important;
}

.header_item {
    box-shadow: 0 1px 15px 0 rgba(32, 33, 36, 0.15);
}

.menu {    
    height: 50px !important;
    margin-bottom: 30px !important;
}

.ui.sticky.bound.top, .ui.sticky.fixed.top {
    top:20px !important;
}

h3 {
    color: #18202f;
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
}

.wrapper {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.artist_image {
    padding: 10px;
}

.card_body {
    width: 100%;
    background-color: #FFF;
    border-radius: 3px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 31, 31, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(34, 31, 31, 0.1);
    position: relative;
    padding: 0px !important;
    margin-bottom: 20px;
}

.pd20px {
    padding: 20px;
}

.pd20px iframe {
    border:none;
}

.ui.selection.dropdown {
    padding: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.new_playlist option:last-child {
    font-weight:bold;
}

.card_option {
    border-bottom: 1px solid #e9ebee;
    padding: 8px 20px;
}

.card_top {
    padding: 10px 20px;
    border-bottom: 1px solid #c4c9cb;
}

.related{
    width: calc(100% / 3 - 10px);
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.related img{
    width: 100%;
}
.related:nth-child(3n){
    margin-right: 0px;
}
.related_tekst{
    position: absolute;
}

.ui.image.label.related_label>img {
    width: 30px !important;
}

.ui.image.label.related_label, .ui.label.related_label {
    width: 100% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.image.label.related_label:hover, .ui.label.related_label:hover {
    background-color: #1DB954 !important;
}

.card_option a:hover {
    color: #1DB954;
}

.flex_thing{
    display: flex;
    justify-content: space-between;
}

.flex_normal{
    display: flex;
}

.album_info {
    margin-left: 30px;
}

.flex_thing .icon {
    color: #18202f;
}

.flex_thing .icon:hover, .pd20px .icon:hover {
    color: #1DB954 !important;
    cursor: pointer;
}

.info_label {
    font-weight: 600;
    display: block;
}